---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$info-color: #3b9cba;
$primary-color: #6f777d;

$link-color: mix(#000, $info-color, 60%);
$link-color-hover: $link-color;
$link-color-visited: mix(#fff, $link-color, 0%);
$masthead-link-color: mix(#000, $primary-color, 50%);
$masthead-link-color-hover: mix(#000, $primary-color, 70%);
$navicon-link-color-hover: mix(#fff, $primary-color, 75%);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 12px;
  @include breakpoint($medium) {
    font-size: 14px;
  }
  @include breakpoint($large) {
    font-size: 16px;
  }
  @include breakpoint($x-large) {
    font-size: 17px;
  }
}

.sidebar {
  @include breakpoint($large) {
    opacity: 1;
  }
}

.archive__subtitle {
  color: $dark-gray;
}